* {
  margin: 0;
  padding: 0;
}

body {
  background-color: aquamarine;
}

h2 {
  text-align: center;
}

#peso {
  width: 100px;
  padding: 5px 0px 0px 5px;
  display: block;
  align-items: center;
  align-content: center;
  border-radius: 5px;
  margin: 0 auto;
}

#altura {
  width: 100px;
  padding: 5px 0px 0px 5px;
  display: block;
  border-radius: 5px;
  margin: 0 auto;
}

button {
  margin: 10px auto;
}

.form_centraliza {
  margin: 0 auto;
  align-items: center;
  align-content: center;
  text-align: center;
}

#btn_click {
  border-radius: 15px;
  padding: 10px;
}
